body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

header {
    position: sticky;  
    top: 0px;

    min-width: 100%;
    min-height: 60px;

    background-color: aquamarine;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header * {
    margin: 10px
}

footer {
    position: sticky;
    bottom: 0px;

    min-width: 100%;
    min-height: 60px;

    background-color: aquamarine;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sessionBtn {
    width: 200px;
    height: 50px;
}



#main {
    min-width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 60vh;

    scroll-behavior: smooth;

    border: 1px solid black;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: grey white;
    scrollbar-width: 30px;
}

.holder {
    /* min-width: 90%; */
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;

    /* min-width: 100%; */
    min-width: 90%;

    padding-top: 5px;
    padding-bottom: 5px;

}

.item * {
    border: 1px solid black;
}

.item-btn {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-btn .range-sel {
    width: 50%;
    height: 50%;
    object-fit: contain;
}


.front {
    min-width: 40%;
}

.back {
    min-width: 40%;
}

.dragger {
    min-width: 40px;
    /* pointer-events: none; */
}

.dragging {
    opacity: 0.5;
}

.dragging :where(.details, i) {
    opacity: 0;
}

/* .item-controls {

} */

.adder {
    display: block;
    max-width: 10px;

    border: 1px solid black;
}

.show-area {
    position: relative;

    bottom: -50%;
    left: calc(50% - 25px);

    min-width: 50px;
    min-height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.addNew {
    /* position: relative;

    top: calc(50% - 20px);
    left: calc(50% - 20px); */

    width: 40px;   
    height: 40px;
}


.filler {
    min-width: 100%;
    min-height: 200px;
}